altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
flatbencode==0.2.1
idna==3.6
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pymediainfo==6.1.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
pywin32-ctypes==0.2.2
requests==2.31.0
torf==4.2.4
urllib3==2.1.0
xpinyin==0.7.6

selenium~=4.16.0